{% extends 'index.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center w-100 vh-100">
    <h1>Seja Bem-vindo(a)</h1>
    <div class="p-4 mt-5 row border rounded-5 shadow" style="background-color: #2c462c;">
        <div class="text-center"><i class="fa-solid fa-screwdriver-wrench fa-2xl mx-auto" style="color: #dedede;"></i></div>
        <form method="POST" class="h-mc mt-3">
            {% csrf_token %}
            <div class="mt-4 form-group">
    
                <div class="input-group input-group-lg">
                    <i class="input-group-text fa-solid fa-user"></i>
                    <div class="form-floating">
                        
                        {% render_field form.ra class="form-control bg-light" placeholder="RA"%}
                        <label for='ra'>RA</label>
                    </div>
                </div>
            </div>
            <div class="mt-4 form-group">
                <div class="input-group input-group-lg">
                    <i class="input-group-text fa-solid fa-file-signature "></i>
                    <div class="form-floating">
                        
                        {% render_field form.nome class="form-control bg-light" placeholder="Nome"%}
                        <label for='nome'>Nome</label>
                    </div>
                </div>
            </div>   
            
            <div class="mt-4 form-group">
                <div class="input-group input-group-lg">
                    <i class="input-group-text fa-solid fa-lock "></i>
                    <div class="form-floating">
                        
                        {% render_field form.password class="form-control bg-light" type="password" placeholder="Senha"%}
                        <label for='password'>Senha</label>
                    </div>
                </div>
            </div>

            <div class="mt-4 form-group">
    
                <div class="input-group input-group-lg">
                    <i class="input-group-text fa-solid fa-address-book"></i>
                    <div class="form-floating">
                        
                        {% render_field form.funcao class="form-control bg-light" placeholder="função"%}
                        <label for='funcao'>Função</label>
                    </div>
                </div>
            </div>
            <button class="mt-3 btn btn-success w-100" type="submit">Cadastrar</button>
            <div class="text-white">
                <small>Já possui um login? <a href="{% url 'login-page' %}">Entre aqui</a></small>
            </div>
            {{ form.errors }}
    </div>

</div>
{% endblock %}