{% extends 'index.html' %}
{% load widget_tweaks%}

{% block content %}

<div class="mt-3 container d-flex flex-column align-items-center">
    <div class='bg-success rounded-pill p-3 bg-opacity-50' style="width: max-content;">
        <h1 class="text-center">Cadastro de Ferramenta</h1>
    </div>
    <form method="POST" class="w-100">
        {% csrf_token %} 
        <div class="mt-4 form-group">

            <div class="input-group input-group-lg">
                <i class="input-group-text fa-solid fa-user"></i>
                <div class="form-floating">
                    
                    {% render_field form.nome class="form-control bg-light" placeholder="Nome"%}
                    <label for='nome'>Nome</label>
                </div>
            </div>
        </div>

        <div class="mt-4 form-group">

            <div class="input-group input-group-lg">
                <i class="input-group-text fa-solid fa-user"></i>
                <div class="form-floating">
                    
                    {% render_field form.descricao class="form-control bg-light" placeholder="Descrição"%}
                    <label for='descricao'>Descrição</label>
                </div>
            </div>
        </div>

        <div class="mt-4 form-group">

            <div class="input-group input-group-lg">
                <i class="input-group-text fa-solid fa-user"></i>
                <div class="form-floating">
                    
                    {% render_field form.tipo class="form-control bg-light" placeholder="Tipo"%}
                    <label for='tipo'>Tipo</label>
                </div>
            </div>
        </div>

        <div class="mt-4 form-group">

            <div class="input-group input-group-lg">
                <i class="input-group-text fa-solid fa-user"></i>
                <div class="form-floating">
                    
                    {% render_field form.imagem class="form-control bg-light" placeholder="Imagem"%}
                    <label for='imagem'>Imagem</label>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}