{% extends 'index.html' %}

{% block content %}

  <div class="container mt-3 fs-4 fw-semibold">Seus serviços</div>

  <!-- Cardoes de seus empréstimos -->
  <div class="container d-flex">
    <div class="card my-3 me-3 bg-body-secondary border border-success-subtle" style="width: 18rem;">
      <img class='card card-img-top' src="https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8fDA%3D&w=1000&q=80">
      <div class="card-body">
        <p class="card-text">Mulher tirando uma foto para exemplo</p>
      </div>
    </div>
    <div class="card my-3 me-3 bg-body-secondary border border-success-subtle" style="width: 18rem;">
      <img class='card card-img-top' src="https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8fDA%3D&w=1000&q=80">
      <div class="card-body">
        <p class="card-text">Mulher tirando uma foto para exemplo 2</p>
      </div>
    </div>
  </div>

  <div class="container mt-2 fs-4 fw-semibold">Talvez se interesse</div>

  <!-- Cardoes sugestões -->

  <div class="container d-flex">
    <div class="card my-3 me-3 bg-body-secondary border border-success-subtle" style="width: 18rem;">
      <img class='card card-img-top' src="https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8fDA%3D&w=1000&q=80">
      <div class="card-body">
        <p class="card-text">Mulher tirando uma foto para exemplo 3</p>
      </div>
    </div>
    <div class="card my-3 me-3 bg-body-secondary border border-success-subtle" style="width: 18rem;">
      <img class='card card-img-top' src="https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8fDA%3D&w=1000&q=80">
      <div class="card-body">
        <p class="card-text">Mulher tirando uma foto para exemplo 4</p>
      </div>
    </div>
  </div>

{% endblock %}