{% extends 'index.html' %}
{% load static %}
{% block content %}
  <div class="container-sm mt-5 pt-3">
    <!-- Barra de controles -->
    <div class="d-inline-flex justify-content-between w-100">
      <form class="d-inline-flex justify-content-between w-100" role="search">
        {% csrf_token %}
        <div class="w-40 border rounded-3 sombra">
          <select class="form-select" id="filtro" name="tipo">
            <option value="">Todos</option>
            <option value="Seguro">Seguro</option>
            <option value="Perigoso">Perigoso</option>
          </select>

        </div>
        <div class="d-flex">
          <input name="pesquisa" class="form-control me-2 sombra" type="search" placeholder="Ex: chave" aria-label="Search">
          <button class="btn btn-success" type="button" id="confirm-btn">Pesquisar</button>

        </div>
      </form>
    </div>
    <!-- Fim barra de controles  -->
    <div class="row row-cols-auto justify-content-around" id="load-box">
      <!-- Inicio placeholders -->
      {% for i in range %}
        <div class="card my-3 border border-success-subtle" style="width: 18rem;">
          <img class='card-img-top placeholder-glow' src="...">
          <div class="card-body ">
            <h5 class="card-title placeholder-glow">
              <span class="placeholder col-12"></span>
            </h5>
            <a href="" class="btn btn-success disabled placeholder col-12"></a>
          </div>
        </div>
      {% endfor %}
      <!-- Fim placeholders-->
    </div>
    <div class="row row-cols-auto justify-content-start" id="data-box">
      
    </div>

  </div>
  <script src="{% static 'home.js' %}"></script>
{% endblock %}